/* @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300&family=Sassy+Frass&display=swap');

 /* font-family: 'Lato', sans-serif;*/
/* font-family: 'Sassy Frass', cursive;font-family: 'Lato', sans-serif;*/
 /* font-family: 'Sassy Frass', cursive; */

* {
    padding: 0;
   
}

body {
    text-align: center;
    margin:0;
    background-color:rgb(201, 255, 201);
    font-family: 'Ronbot',sans-serif;


}


hr{
    width: 60px;
    margin: 40px auto;
    background-color: rgb(187, 214, 214);
    border-bottom: #454d4b;

}

/************************* Top *******************************/

.top {
    
 
}

.top-cloud{
position: absolute;
top: 45px;
right: 23px;
}

.bottom-cloud{
    position: absolute;
    left: 18px;
 
}

.top h1{

}

.top h2 {

}


/************************* Middle *******************************/


li {

}


.btn {
    background: #11ddd4;
    background-image: -webkit-linear-gradient(top, #11ddd4, #11999e);
    background-image: -moz-linear-gradient(top, #11ddd4, #11999e);
    background-image: -ms-linear-gradient(top, #11ddd4, #11999e);
    background-image: -o-linear-gradient(top, #11ddd4, #11999e);
    background-image: linear-gradient(to bottom, #11ddd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}


/************************* Bottom *******************************/

.bottom{
    background-color: #66bfbf38;
    padding:50px 0 20px;  
    margin-top: 80px;
}

a{
    color:#11999e;
    margin:10px 20px;
    text-decoration: none; 
}

a:hover{
    color: #eaf6f6;
}

.copyright{
   color: #eaf6f6;
   font-size: 0.75rem; 
}